    <form class='new-comment-form'>
        <input type="hidden" name="post-id" value="{{post.id}}" />
        <p>
            Enter Comment: 
        </p>
            <input type="text" id='new-comment-body'>
        
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark col-4">Add Comment</button>
        </div>
    </form>


<script src="/js/new-comment.js"></script>