    <section class="new-post">
      <form id="new-post-form">
        <label for="pname">Post Title</label><br />
        <input type="text" id="pname" name="pname" /><br />
        <label for="pbody">Post Content</label><br />
        <input type="text" id="pspecies" name="pspecies" /><br />
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark col-4">Save Post</button>
        </div>
      </form>
    </section>

    <script src="/js/new-post.js"></script>